
<div class="text-center " style="color: #9370db;">
    @if (Model.Characters.Info != null)
    {
        @if (!String.IsNullOrEmpty(Model.Characters.Info.PrevPage))
        {
            <a asp-route-pageNo="@Model.Characters.Info.PrevPage"><b>&lt;&lt; Previous</b></a>
        }
        @if (!String.IsNullOrEmpty(Model.Characters.Info.NextPage))
        {
            @for (int i = Convert.ToInt32(Model.Characters.Info.NextPage) - 1; 
                  i <= Convert.ToInt32(Model.Characters.Info.NextPage) + 8;
                  i++)
            {
                @if (i <= Convert.ToInt32(Model.Characters.Info.Pages))
                {
                    <a asp-route-pageNo="@i"><b>@i</b></a>
                }
                else
                {
                    break;
                }
            }
            <a asp-route-pageNo="@Model.Characters.Info.NextPage"><b>Next >></b></a>
        }
    }
</div>