html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #1f1f1f;
}

body h1 {
    font-size: 3rem;
    background-color: #1f1f1f;
    background-image: linear-gradient(45deg, #201155, #db69cf);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    color: #825dd3;
}

h3 {
    color: #7a29ff;
    font-weight: 600;
    font-size: 1.25rem;
}

p, ul{
    color: #adb5bd;
}

ul {
    list-style: none;
}

li{
    line-height:3em;
}