@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<h2>Flavio Almeida</h2>

<p>
    With 11 years of experience in software development, Flavio Almeida is a fullstack developer
    specializing in Microsoft technologies. His expertise includes C#, ASP.NET, TypeScript, .NET
    and JavaScript, allowing him to create complete and efficient solutions on both the front-end
    and back-end.
</p>

<h3>Experience and Versatility</h3>
<p>
    Flavio has worked in several segments, serving companies in Brazil and abroad.
    His professional career includes challenging and significant projects that demonstrate
    his ability to adapt and innovate. In addition to Microsoft technologies, Flavio also
    has professional experience in PHP, Python and AngularJS, which expands his range of skills
    and his ability to choose the best tools for each project.
</p>

<h3>Main Skills</h3>
<p>
    <ul>
        <li>
            Fullstack Development: Comprehensive experience in both front-end and back-end development.
        </li>
        <li>
            Microsoft Technologies: Proficiency in C#, ASP.NET, TypeScript, .NET and JavaScript.
        </li>
        <li>
            Technological Versatility: Practical knowledge of PHP, Python and AngularJS, enabling flexible and adaptable solutions.
            Notable Projects
        </li>
        <li>
            Business Systems: Development of robust business solutions that optimize internal processes and improve operational efficiency.
        </li>
        <li>
            Web Applications: Creation of interactive and responsive web applications, focusing on user experience and scalability.
        </li>
    </ul>
</p>

<p>
    Flavio is known for his dedication, detail-oriented skills and ability to solve complex problems
    with innovative solutions. His collaborative approach and effective communication ensure projects 
    are completed successfully and meet or exceed client expectations.
</p>

<p>
    Flavio is always looking for new challenges and opportunities to apply his skills and contribute
    to the success of innovative projects. For more information and details about his career and
    skills, visit his
    <a href="https://www.linkedin.com/in/flavio-almeida-developer/" target="_blank" style="text-decoration:none">
        LinkedIn profile
    </a>.
</p>